.clickable {
  background: #ffd814;
  border: 1px solid transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  color: #111;
  padding: 12px 30px;
  border-radius: 10px;
  font-size: 14px;
}

.clickable:hover {
  background: #e6c005;
}
