.product {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 2rem 1rem;
  background-color: rgb(247, 242, 242);
  z-index: 1;
  transition: all 0.5s;
  font-size: 1.7rem;
  border-radius: 20px;
}

/* .product:hover {
  transform: scale(1.03, 1.03);
} */

.product__rating {
  display: flex;
}

.starIcon {
  color: #ffd814;
  width: 3rem !important;
  height: 4rem !important;
}

.product > img {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__info {
  margin: 0 2rem 1.5rem 2rem;
  font-weight: 600;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product__price {
  margin-top: 5px;
}
