.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header__logo {
  height: 15rem;
  object-fit: contain;
  margin: 0 20px;
}

.header__search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__searchInput {
  width: 90%;
  border: none;
  padding: 1rem 2rem;
  border-radius: 999px;
  background-color: white;
  transition: all 0.2s;
  margin-right: -3.25rem;
}

.header__searchInput:focus {
  outline: none;
  width: 100%;
}

.header__searchInput::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.header__searchIcon {
  border: none;
  padding: 5px;
  height: 4rem !important;
  width: 2.5rem !important;
}

.header__searchIcon:hover {
  color: #e6c005;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__optionTop {
  font-size: 1.3rem;
  font-weight: 600;
}

.header__optionBottom {
  font-size: 1.5rem;
  font-weight: 800;
}

.header__optionCart {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}

.cartIcon {
  width: 3rem !important;
  height: 4rem !important;
}

.header__CartCount {
  margin-left: 5px;
  margin-right: 10px;
}
